[Unit]
Description=Chrome in Remote Debugging Mode for Scraper
After=graphical.target

[Service]
User=scrape
Environment=DISPLAY=:0
ExecStart=/usr/bin/google-chrome --remote-debugging-port=9222 --user-data-dir=/home/jaimie/.config/google-chrome/ScraperProfile --no-first-run
Restart=always
RestartSec=10

[Install]
WantedBy=default.target